{% extends 'index.html' %}
{% block title%}用户信息{% endblock %}
{% block s%}
<div class="search">
			<form action="" method="">
				<input class="txt" type="text">
				<input class="search-btn"  type="button" value="搜索">
			</form>
		</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
<script src="/static/js/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<div class="user_main">
    <div class="user_wrap">
        <h1 class="crumbs" style="font-weight:100">
            您当前的位置:<a href="" target="_blank">韩都衣舍</a> &gt; <a href="" target="_blank">我的韩都</a>
        </h1>
        <div class="user_left">
            <a href="" class="home">
                <span>我的韩都</span>
            </a>
            <div class="nav">
                <dl class="menu">
                    <dt>个人信息<span class="arrow"></span></dt>
                    <dd>
                        <ul>
                            <li><a href="{% url 'users:userinfo' %}">个人信息</a></li>
                            <li><a href="{% url 'users:changeinfo' %}">修改信息</a></li>
                            <li><a href="">地址管理</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="menu">
                    <dt>交易管理<span class="arrow"></span></dt>
                    <dd>
                        <ul>
                            <li><a href="" target="_blank">我的购物车</a></li>
                            <li><a href="">我的订单</a></li>
                            <li class="last"><a href="user.php?act=collection_list">我的收藏</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="menu">
                    <dt>店铺管理<span class="arrow"></span></dt>
                    <dd>
                        <ul>
                            <li><a href="{% url 'store:add' %}">我要开店</a></li>
                            <li><a href="">上传商品</a></li>
                            <li><a href="{% url 'goods:add_type' %}">添加商品类型</a></li>
                            <li><a href="{% url 'store:store_list' %}" target="_blank">我的所有店铺</a></li>

                            <li class="last"><a href="">在线客服</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="menu">
                    <dt>账户管理<span class="arrow"></span></dt>
                    <dd>
                        <ul>
                            <li><a href="">我的特权</a></li>
                            <li><a href="">我的积分</a></li>
                            <li><a href="">我的优惠券</a></li>
                            <li><a href="">我的包邮卡</a></li>
                            <li><a href="">SVIP激活</a></li>
                            <li><a href="">护理液兑换码</a></li>
                        </ul>
                    </dd>
                </dl>

            </div>
        </div>

        <div class="user_right">
            <h5 style="text-align: center ; color: red ;">{{msg}}</h5>
            {% block aaa %}
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-7 col-md-offset-2">
                        <ul class="list-group" style="text-align:center">
                            <li class="list-group-item">
                                <img src="/{{store.cover}}" alt="用户头像" class="img-circle avatar"
                                     width="200px" height="200px" style="margin: auto">
                            </li>
                            <li class="list-group-item " style="">
                                店铺标识：{{store.id}}
                            </li>
                            <li class="list-group-item" style=" ">
                                店铺名称：{{store.name}}
                            </li>
                            <li class="list-group-item" style=" ">
                                店铺介绍：{{store.intro}}
                            </li>
                            <li class="list-group-item" style=" ">
                                开店时间：{{store.opentime}}
                            </li>
                            <li class="list-group-item" style=" ">
                                店铺状态：
                                 {% if store.status == 1 %}
                                <td style="line-height: 100px;">---营业中---</td>
                                {% elif store.status == 0 %}
                                <td style="line-height: 100px;">---歇业了---</td>
                                {% elif store.status == 2 %}
                                <td style="line-height: 100px;">---店铺关闭---</td>
                                {% endif %}

                            </li>
                            <li class="list-group-item" >
                                <a href="{% url 'goods:add_goods' store.id %}"><input type="button" style="margin-left: -20px" class="register-list-agree" value="添加商品"></a>
                            </li>
                            <li class="list-group-item" >
                                <a href="{% url 'store:update_store' store.id %}"><input type="button" style="margin-left: -20px" class="register-list-agree" value="修改店铺"></a>
                            </li>
                            <li class="list-group-item" >
                                <a href="{% url 'goods:goods_list' store.id %}"><input type="button" style="margin-left: -20px" class="register-list-agree" value="商品列表"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            {% endblock %}
        </div>

    </div>
</div>
<script type="text/javascript">
    $(function () {

        $(".menu dt").each(function () {
            $(this).click(function () {
                if ($(this).next().is(":hidden")) {
                    $(this).removeClass("hid");
                    $(this).next().show();
                } else {
                    $(this).addClass("hid");
                    $(this).next().hide();

                }
            });
        });

    });
</script>
{% endblock %}


